<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regiões e Estados</title>
</head>
<body>
    <h1>Regiões</h1>
    <ul>
        <% regioes.forEach(regiao => { %>
            <li><%= regiao.CodRegiao %> - <%= regiao.NomeRegiao %></li>
        <% }); %>
    </ul>

    <h1>Estados</h1>
    <ul>
        <% estados.forEach(estado => { %>
            <li><%= estado.SiglaEstado %> - <%= estado.NomeEstado %> (Capital: <%= estado.NomeCapital %>)</li>
        <% }); %>
    </ul>
</body>
</html>
